<!--Author: Hans Zijlstra-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/diaryreports.css}" href="../static/css/diaryreports.css">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css">
    <link rel="stylesheet" th:href="@{/css/navbar.css}" href="../static/css/navbar.css">
    <title th:text="#{title.report}"></title>
</head>
<body>

<div th:insert="template::banner"></div>
<div th:insert="template::navbar"></div>

<div class="container">
<form id="regForm">

    <h1>Report:</h1>

    <!-- One "tab" for each step in the form: -->
    <div class="tab">Project:
        <div class="form-group">
            <label for="projectName" th:text="#{tab.header}"></label>
            <select class="form-control" id="projectName">
                <option hidden disabled selected value th:text="#{select.proj}"> </option>
            </select>
        </div>
    </div>

    <div class="tab">Select:
        <table id="userTable" class="display">
            <thead>
            <tr>
                <th></th>
                <th class="id">id</th>
                <th th:text="#{name}"></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div class="tab">
        <label for="date-from" th:text="#{date.from}"></label>
        <p><input id="date-from" class="form-control" type="date" name="date-from" required></p>
        <label for="date-til" th:text="#{date.til}"></label>
        <p><input id="date-til" class="form-control" type="date" name="date-from" required></p>
    </div>



    <div class="control-buttons-tab">
        <div class="position-buttons">
            <button type="button" id="prevBtn" th:text="#{previous.btn}"></button>
            <button type="button" id="nextBtn" th:text="#{next.btn}"></button>
        </div>
    </div>

    <div class="report">
        <ul class="reportList">
        </ul>
    </div>

    <!-- Circles which indicates the steps of the form: -->
    <div  class="circle-steps">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
    </div>
</form>

</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
<script src="/js/diaryreports.js"></script>
</body>
</html>