<!--Author: Hans Zijlstra-->
<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title.entry}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css">
    <link rel="stylesheet" th:href="@{/css/home.css}" href="../static/css/home.css">
    <link rel="stylesheet" th:href="@{/css/navbar.css}" href="../static/css/navbar.css">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css">
    <link rel="stylesheet" th:href="@{/css/diary-entry.css}" href="../static/css/diary-entry.css">
    <link rel="stylesheet" th:href="@{/css/contact.css}" href="../static/css/contact.css">
</head>
<body>
    <div class="banner-image">
        <div class="banner-text">
            <h1>Food Diary</h1>
            <p><strong>Simple and Resourceful</strong></p>
        </div>
    </div>

    <div th:insert="template :: navbar"></div>
  <div class="container">
      <div class="action">
          <button class="button" data-modal="modalOne"><i class="fas fa-plus" th:text="#{add.msg}"></i></button>
<!--          <button class="button" data-modal="modalOne" th:text="#{add.msg}"></button>-->
          <button id="btn-remove" data-modal="modalOne"><i class="fa fa-minus" th:text="#{remove.btn}"></i></button>
          <button class="button" data-modal="modalHistory"><i class="fa fa-history" aria-hidden="true"></i>History</button>
          <input type="date" id="diaryDate" th:value="${ldt}">
      </div>

      <div id="modalHistory" class="modal">
          <div class="modal-content">
              <div class="entry-form">
                  <a class="close">&times;</a>
                  <h2 th:text="#{previous}"></h2>
                  <form autocomplete="off"  method="post" id="history-entry">
                      <table id="historyTable">
                          <thead>
                          <tr>
                              <th th:text="#{table.mealtime}"></th>
                              <th th:text="#{table.product}"></th>
                              <th th:text="#{table.unit}"></th>
                          </tr>
                          </thead>
                          <tbody>
                          </tbody>
                      </table>
                      <div class="autocomplete">
                          <input id="historyProductDescription" type="text" name="productDescription" required th:placeholder="#{table.product}">
                      </div>
                      <div class="productMetaData">
                          <input type="number"  step="0.1" id="historyQuantity" name="quantity" th:placeholder="#{table.amount}" min="0.1" required>
                          <input type="text" id="historyUnit" name="unit" th:placeholder="#{table.unit}" required readonly>
                          <input type="date" id="historyDate" placeholder="Enter date" name="date" required th:value="${ldt}">
                          <input type="time" id="historyTime" placeholder="Time" name="time" required th:value="${time}">
                          <select id="historyMealtime" class="form-control" name="mealtime"  th:placeholder="#{table.mealtime}">
                              <option th:value="#{mealtime.breakfast}" th:text="#{mealtime.breakfast}"></option>
                              <option th:value="#{mealtime.lunch}" th:text="#{mealtime.lunch}"></option>
                              <option th:value="#{mealtime.dinner}" th:text="#{mealtime.dinner}"></option>
                              <option th:value="#{mealtime.snack}" th:text="#{mealtime.snack}"></option>
                          </select>
                          <input type="text" id="historyDescription" name="description">
                      </div>
                      <button id="historySubmit" type="submit" th:text="#{add.msg}">Submit</button>
                  </form>
              </div>
          </div>
      </div>




        <p>
            <!--@author Tom Wagenaar, button when clicked shows a pop up for adding a new recipe.-->
            <button class="button" data-modal="addNewRecipe" th:text="#{addNewRecipe}">Add new recipe</button>
        </p>

        <div class="modal" id="addNewRecipe">
            <div class="modal-content">
                <div class="entry-form">
                    <a class="close">&times;</a>


                    <form autocomplete="off" method="post" id="newRecipeForm" th:object="${recipeForm}">
                        <h2 th:text="#{addNewRecipe.message}"></h2>
                        <p th:text="#{newProductDisclaimer.message}">Disclaimer</p>

                        <p id="errorMessageDiv"></p>

                        <div id="recipeGroup">
                            <input id="recipeGroupInput" type="text" th:placeholder="#{recipeGroupInput.message}">
                        </div>

                        <div class="autocomplete" id="dyanamicProductInput[0]">
                            <input id="productInput" type="text" th:placeholder="#{recipeAddProduct.message}">
                            <input id="productQuantity" type="text" th:placeholder="#{recipeProductQuantity.message}">
                            <input id="productQuantityUnit" type="text" th:placeholder="#{recipeProductQuantityUnit.message}" readonly>
                            <input id="recipeAddProduct" type='button' value="Add">
                        </div>

                        <button id="recipeSubmit" type="submit" th:text="#{recipeSubmit.message}">Submit</button>
                    </form>
                </div>
            </div>
        </div>


            <div id="modalOne" class="modal">
                <div class="modal-content">
                    <div class="entry-form">
                        <a class="close">&times;</a>
                        <form autocomplete="off"  method="post" id="product-entry">
                            <h2 th:text="#{add.msg}"></h2>
                            <div class="autocomplete">
                                <input id="productDescription" type="text" name="productDescription" required th:placeholder="#{table.product}">
                            </div>
                            <div class="productMetaData">
                                <input type="number"  step="0.1" id="quantity" name="quantity" th:placeholder="#{table.amount}" min="0.1" required>
                                <input type="text" id="unit" name="unit" th:placeholder="#{table.unit}" required readonly>
                                <input type="date" id="date" placeholder="Enter date" name="date" required th:value="${ldt}">
                                <input type="time" id="time" placeholder="Time" name="time" required th:value="${time}">
                                <select id="mealtime" class="form-control" name="mealtime"  th:placeholder="#{table.mealtime}">
                                    <option th:value="#{form.mealtime.beforebreakfast}" th:text="#{form.mealtime.beforebreakfast}"></option>
                                    <option th:value="#{form.mealtime.breakfast}" th:text="#{form.mealtime.breakfast}"></option>
                                    <option th:value="#{form.mealtime.afterbreakfast}" th:text="#{form.mealtime.afterbreakfast}"></option>
                                    <option th:value="#{form.mealtime.beforelunch}" th:text="#{form.mealtime.beforelunch}"></option>
                                    <option th:value="#{form.mealtime.lunch}" th:text="#{form.mealtime.lunch}"></option>
                                    <option th:value="#{form.mealtime.afterlunch}" th:text="#{form.mealtime.afterlunch}"></option>
                                    <option th:value="#{form.mealtime.beforedinner}" th:text="#{form.mealtime.beforedinner}"></option>
                                    <option th:value="#{form.mealtime.dinner}" th:text="#{form.mealtime.dinner}"></option>
                                    <option th:value="#{form.mealtime.afterdinner}" th:text="#{form.mealtime.afterdinner}"></option>
                                </select>
                                <input type="text" id="description" name="description">
                            </div>
                            <button id="product-submit" type="submit" th:text="#{add.msg}">Submit</button>
                        </form>
                    </div>
                </div>
            </div>

            <table id="diaryTable" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>id</th>
                        <th th:text="#{table.mealtime}"></th>
                        <th th:text="#{table.product}"></th>
                        <th th:text="#{table.amount}"></th>
                        <th th:text="#{table.time}"></th>
                        <th th:text="#{table.description}"></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    <div class="History">

    </div>
    </body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/8e75eb41d2.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.20/datatables.min.js"></script>
<script src="/js/diaryentry.js"></script>
</html>
