<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Hugo Donkerbroek">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/home.css}" href="../static/css/home.css">
    <link rel="stylesheet" th:href="@{/css/navbar.css}" href=../static/css/navbar.css>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<body>

<div class="banner-image">
    <div class="banner-text">
        <h1>Food Diary</h1>
        <p><strong>Simple and Resourceful</strong></p>
    </div>
</div>


<div th:insert="template :: navbar"></div>


<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-8 col-lg-8 col-xl-8" id="home-page-text">
                <h2 th:text="#{welcome.message}"></h2>
                <p th:text="#{welcome.msg}"></p>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <form th:action="@{'/home'}" method="post">
                            <div class="form-group">
                                <label for="username" th:text="#{username.msg}">Username:</label>
                                <input type="text"  class="form-control" id="username" name="username">
                            </div>
                            <div class="form-group">
                                <label for="pwd" th:text="#{password.msg}">Password:</label>
                                <input type="password" class="form-control" id="pwd" name="password">
                            </div>
                            <input class="login-submit" type="submit" value="Login">
                        </form>
                        <p class="forgot-pwd"><a href="" th:text="#{forgotpas.msg}"><i class="fa fa-chevron-right"></i> Forgot password</a> </p>
                    </div>
                    <p th:if="${loginError}" class="error"> <span th:text="${loginError.error}"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="template :: footer"></div>
</body>
</html>