<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>_TITLE_</title>
</head>
<body>

<div th:fragment="banner">
    <div class="banner-image">
        <div class="banner-text">
            <h1>Food Diary</h1>
            <p><strong>Simple and Resourceful</strong></p>
        </div>
    </div>
</div>


<div th:fragment="navbar">
<!--        home page navbar-->
        <nav class="navbar navbar-expand-sm navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/home'}">Home</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" th:href="@{'/contact'}" th:text="#{navbar.contact}">Contact</a>
                    </li>

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{'/diary-entry'}" th:text="#{navbar.diary}"></a>
                    </li>

                    <!-- TODO: Only accessible by admins -->
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{'/verify-recipe-by-admin'}" th:text="#{navbar.verifyrecipe}"></a>
                    </li>

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{'/adduser'}" th:text="#{navbar.adduser}"></a>
                    </li>

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{'/project'}" th:text="#{navbar.project}"></a>
                    </li>

                    <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                        <a class="nav-link dropdown-toggle" href="#" id="unknownproductdropdown" role="button" data-toggle="dropdown"
                           th:text="#{navbar.newproduct}">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{'/newproductform'}" th:text="#{navbar.newproductform}"></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{'/getnewproducts'}" th:text="#{navbar.getnewproducts}"></a>
                        </div>
                    </li>

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{'/logout'}" th:text="#{logout}"></a>
                    </li>

                    <li  class="nav-item dropdown">
                            <a th:if="${#locale.getLanguage().toString().equals('nl')}" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                               th:href="@{/(locale=nl)}">
                                <img src="/images/nl-flag-icon.png">
                            </a>
                            <a th:if="${#locale.getLanguage().toString().equals('en')}" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                               th:href="@{/(locale=en)}">
                                <img src="/images/en-flag-icon.png">
                            </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a th:if="${#locale.getLanguage().toString().equals('en')}" class="dropdown-item" th:href="@{/(locale=nl)}">
                                <img src="/images/nl-flag-icon.png"></a>
                            <a th th:if="${#locale.getLanguage().toString().equals('nl')}" class="dropdown-item" th:href="@{/(locale=en)}">
                                <img src="/images/en-flag-icon.png"></a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
</div>





<div th:fragment="footer">
    <footer class="footer">
        <div class="container text-center">
            <span class="text-muted" th:text="#{copyright.footer}">Copyright &copy; Our Website</span>
        </div>
    </footer>
</div>

</body>
</html>

